@import url("_reset.css");
html, body {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 10px;
  background-color: #1D313E; }

.main-container {
  margin: 40px auto;
  height: 100%;
  width: 22rem; }

.location {
  color: white; }
  .location p #city,
  .location p #country {
    font-size: 2.1rem; }
  .location label,
  .location input {
    font-size: 1.8rem;
    margin: 1rem 0 0 0; }
  .location input {
    width: 8rem;
    color: black; }

.data p {
  font-size: 1.8rem;
  color: white;
  margin: 1rem 0 0 0; }
  .data p span {
    font-size: 1.8rem;
    color: white;
    margin: 1rem 0 0 0; }
