@import url('_reset.css');

$main-font-size: 1.8rem;
$main-font-color: white;

html, body {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 10px;
  background-color: #237;
}

.main-container {
  margin: auto;
  height: 100%;
  width: 22rem;
}

.location {
  color: $main-font-color;

  p {

    #city,
    #country {
      font-size: 2.1rem;
    }
  }

  label,
  input {
    font-size: $main-font-size;
    margin: 1rem 0 0 0;
  }

  input {
    width: 8rem;
    color: black;
  }

}

.data {

  p {
    font-size: $main-font-size;
    color: $main-font-color;
    margin: 1rem 0 0 0;

    span {
      font-size: $main-font-size;
      color: $main-font-color;
      margin: 1rem 0 0 0;
    }
  }
}
